<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <application>
    <activity android:name="com.unity3d.player.UnityPlayerActivity" android:theme="@style/UnityThemeSelector" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="unitydl" android:host="web3Login" />
      </intent-filter>
      <intent-filter>
        <!-- Sets the intent action to view the activity -->
        <action android:name="android.intent.action.VIEW" />
        <!-- Allows the link to be opened from a web browser -->
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Allows the deep link to be used without specifying the app name -->
        <category android:name="android.intent.category.DEFAULT" />
        <!-- URI https://www.mydeeplink.com -->
        <data android:scheme="https" android:host="metamask.app.link"/>
      </intent-filter>
    </activity>
  </application>
</manifest>